[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/synatastic"]
	path = vim/bundle/synatastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/plantuml"]
	path = vim/bundle/plantuml
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "vim/bundle/dash.vim"]
        path = vim/bundle/dash.vim
        url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-cpp-enhanced-highlight"]
	path = vim/bundle/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
