@define-color graphite #181B1C;
@define-color ivory #F7F6F6;
@define-color dust #5C5B55;

TerminalWindow {
  background-color: @graphite;
  border: 0;
  padding: 0;
}

TerminalWindow .notebook {
  border: 0;
  border-radius: 0;
  padding: 0;
  background-image: none;
  font: consolas;
}

TerminalWindow .notebook tab {
  padding: 1px;
  background-color: shade(@ivory, 1);
  color: shade(@dust, 1);
}

TerminalWindow .notebook tab:active {
  background-color: shade(@graphite, 1);
}
